
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&family=Cabin&family=IBM+Plex+Serif&family=Inter:wght@300;400;900&family=Lobster&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,600;1,700;1,800;1,900;1,1000&family=Nunito:wght@500&family=Poppins:wght@300;400;600&family=Roboto+Flex:opsz@8..144&family=Roboto+Slab&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@500&family=Shantell+Sans:wght@300;400;500;600&family=Ubuntu:wght@300&display=swap');


body{
  background-color: #f5f5f5;
  font-family: 'Cabin', sans-serif;
  background-color: rgb(0 0 0 / 75%);
}

/* App.css */
.todo-app {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* Set your desired background color here */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #23272f;
  color: white;
}

.todo-input {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.todo-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: rgba(120,131,155,.2);
  border: none;
  color: white;
}

.todo-input button {
  /* padding: 10px 15px; */
  /* background-color: #007bff; */
  /* color: #fff; */
  border: none;
  /* border-radius: 3px; */
  /* cursor: pointer; */
  all: unset;
  
} 

.add-button{
  display: flex;
  /* background-color: #007bff; */
  background-color: #bb86fc;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 100%;
  justify-content: center;
  padding: 10px;
  align-items: center;
  transition: all;
}

.add-button:hover{
  /* background-color: #0057ff; */
  background-color: #9f69e1;
  transition-duration: 0.5s;
}

/* .todo-input button:hover {
  background-color: #0056b3;
} */

.todo-list{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 0.5rem;
}

.todo-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  list-style: none;
  border-radius: 7px;
  gap: 0.5rem;
  width: 94%;
  background-color: rgba(120,131,155,.2);
  border: none;
  line-height: 1.3rem;
}

.completed {
  text-decoration: line-through;
  color: #999;
}

/* Responsive design */
@media (max-width: 768px) {
  .todo-app {
    max-width: 100%;
    padding: 10px;
  }

  .todo-input input {
    flex-grow: 1;
    border-radius: 35px;
  }

  .todo-input button {
    padding: 8px 12px;
  }

  .todo-list li {
    padding: 8px;
    font-size: 14px;
  }
}


/* Add this CSS to your App.css file or equivalent */
.update-button {
  /* background-color: #4caf50; Green background */
  color: white;
  border: none;
  padding: 10px 12px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 6px;
  font-size: 20px;
  background-color: rgba(120,131,155,.2);
}

.update-button-check{
  border: none;
  padding: 10px 12px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 6px;
  font-size: 20px;
  transition: all;
  background-color: rgba(120,131,155,.2);
  color: white;
}

.update-button-check:hover{
  color: white;
  transition-duration: 0.5s;
  background-color: #6eb872;
}


.delete-button {
  /* background-color: #df7070; */
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 6px;
  /* border-radius: 100%; */
  font-size: 20px;
  transition: all;
  color: #df7070;
  background-color: rgba(120,131,155,.2);
  
}

/* Style on hover */
.update-button:hover {
  background-color: #6eb872; /* Darker green background on hover */
  transition-duration: 0.5s;
}

.delete-button:hover {
  background-color: #df7070; /* Darker red background on hover */
  color: white;
  transition-duration: 0.5s;
}

.btn-container{
  display: flex;
  float: left;
  margin-left: 0.5rem;
  gap: 6px;
}

/* Add this CSS to your App.css file or your preferred CSS file */

/* Style for the timestamp */
.timestamp {
  font-size: 12px;
  color: #888;
  margin-top: 4px;
}

.todo-list li input{
  border: none;
  color: white;
  background: transparent;
}